# Virtual environment
venv/
env/
ENV/

# Logs
logs/*.log

# Database and temp files
data/*.db
data/temp_audio/*
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
